.banner {
  background: url("../../img/banner.jpg") center center no-repeat transparent;

  @include tablet {
    background: url("../../img/banner-tablet.jpg") center center no-repeat transparent;
  }

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__heading {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 48px;
    line-height: normal;
    font-weight: 700;
    color: $grey;
  }

  &__button {
    @include btn-primary;

    @include tablet {
      padding: 20.4px 49px;
    }
  }
}
