.banner {
  background: url("../../img/banner.webp") center center no-repeat transparent;

  @include tablet {
    background: url("../../img/banner-tablet.webp") center center no-repeat transparent;
  }

  @include small-tablet {
    background: url("../../img/banner-sm.webp") center center no-repeat transparent;
    background-size: cover;
  }

  @include mobile {
    background: url("../../img/banner-m.webp") center center no-repeat transparent;
    background-size: contain;
    background-position: center top;
  }

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;

    @include mobile {
      padding-top: 30px;
      padding-bottom: 0;
    }
  }

  &__heading {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 48px;
    line-height: normal;
    font-weight: 700;
    color: $grey;

    @include mobile {
      font-size: 6.25vw;
      max-width: 100%;
      margin-bottom: 49vw;
      padding-left: 18px;
      padding-right: 18px;
    }

    & span {
      @include mobile {
        display: block;
      }
    }
  }

  &__button {
    @include btn-primary;

    @include tablet {
      padding: 20.4px 49px;
    }

    @include mobile {
      width: 100%;
    }
  }
}
