.callback {
  &__container {
    padding-top: 35px;
    padding-bottom: 70px;
    background: url("../../img/callback-bg.webp") right 15px top 57px no-repeat transparent;

    @include tablet {
      background: url("../../img/callback-bg-tablet.webp") right 38px top 111px no-repeat transparent;
    }

    @include small-tablet {
      background: url("../../img/callback-bg-sm.webp") right 72px top 48px no-repeat transparent;
      background-size: 187px 444px;
    }
  }

  &__heading {
    @include h2;
    margin-bottom: 9px;
  }

  &__subheading {
    max-width: 624px;
    width: 100%;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    color: $black;

    @include tablet {
      max-width: 405px;
      margin-bottom: 19px;
    }
  }
}

.callback-form {
  max-width: 624px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include tablet {
    max-width: 405px;
  }

  &__label {
    width: 100%;
    margin-bottom: 28px;
  }

  &__input {
    @include base-input;
    padding: 7px 18px;
  }

  &__button {
    @include btn-primary;
    margin-bottom: 12px;
    padding: 18px 32px;
  }

  &__agreement {
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    color: $primary;
    text-decoration: underline;
  }
}

.custom-checkbox {
  @include custom-checkbox;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  color: $black;
}
