.catalog-page .bottom-container {
  padding-bottom: 19px;

  @include mobile {
    padding-bottom: 23px;
  }
}

.catalog {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 32px;
    padding-bottom: 70px;

    @include tablet {
      grid-template-columns: repeat(9, 1fr);
      row-gap: 24px;
    }

    @include small-tablet {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__heading {
    grid-area: 1 / 4 / 2 / 13;
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    color: $black;
    margin-bottom: 24px;

    @include tablet {
      grid-area: 1 / 1 / 2 / 10;
      margin-bottom: 0;
    }

    @include small-tablet {
      grid-area: 1 / 1 / 2 / 7;
    }
  }

  &__content {
    grid-area: 2 / 4 / 3 / 13;

    @include tablet {
      grid-area: 3 / 1 / 4 / 10;
    }

    @include small-tablet {
      grid-area: 3 / 1 / 4 / 7;
    }

    @include mobile {
      padding-top: 8px;
    }
  }

  &__commercial {
    margin-top: auto;
    margin-bottom: 32px;

    @include tablet {
      display: none;
    }
  }
}

.catalog-left {
  grid-area: 1 / 1 / 3 / 4;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include tablet {
    grid-area: 2 / 1 / 3 / 10;
    flex-direction: row;
    column-gap: 32px;
  }

  @include small-tablet {
    grid-area: 2 / 1 / 3 / 7;
    flex-wrap: wrap;
    row-gap: 16px;
  }

  @include mobile {
    gap: 18px 31px;
  }

  &__heading {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    color: $black;

    @include tablet {
      display: none;
    }
  }
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 29.5px;

  @include tablet {
    margin-bottom: 0;
    min-width: 145.5px;
  }

  @include mobile {
    min-width: auto;
  }

  &__heading {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: $grey_shade;

    @include tablet {
      margin-bottom: 10px;
    }

    &_prices {
      margin-bottom: 3px;

      @include small-tablet {
        margin-bottom: 5px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: $grey_shade;

    @include small-tablet {
      gap: 10px;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  &__input {
    max-width: 86px;
    padding: 3.65px 13px;
    border: 1px solid $grey;
    border-radius: 2px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: $grey_shade;
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out;

    &:hover {
      border-color: $primary;
    }

    &:focus {
      outline: none;
      background-color: $pink_violet;
      border-color: $primary;
    }

    &:active {
      background-color: $white;
      border-color: $primary_shade;
    }
  }
}

.filter-checkbox {
  @include custom-checkbox(20px, 20px, 20px, 20px, 12px, 12px);
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  color: $grey_shade;

  &__content {
    padding-left: 32px;
  }
}

.catalog-commercial {
  &__picture {
    display: flex;
  }

  &__content {
    padding: 30px;
    background-color: $black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__heading {
    font-family: 'PlayFair', 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: normal;
    font-weight: 900;
    color: $gold;
  }

  &__subheading {
    max-width: 199px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: $grey;
  }

  &__button {
    @include link-round;
  }
}

.catalog {
  &__slider-bullet {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 2px solid $primary;
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: $primary;
    background-color: transparent;
    cursor: pointer;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;

    @include small-tablet {
      line-height: 32px;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }

    &:focus {
      outline: none;
      background-color: $primary_light;
      color: $white;
    }

    &:active,
    &--active {
      color: $white;
      background-color: $primary_shade;
      border-color: $primary_shade;
    }

  }
}

.content-swiper {
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 8px;
  }
}

.catalog .catalog-pagination {
  grid-area: 3 / 4 / 4 / 13;
  position: relative;
  bottom: 0 !important;

  @include tablet {
    grid-area: 4 / 1 / 5 / 10;
  }

  @include small-tablet {
    grid-area: 4 / 1 / 5 / 7;
  }
}

.swiper-slide {
  &:nth-child(1) {
    & .card {
      &__picture-link {
        @include mobile {
          margin-bottom: 16px;
        }
      }
    }
  }

  @include mobile {
    height: auto !important;
  }
}
