.categories {
  &__container {
    padding-top: 70px;
    padding-bottom: 35px;
  }

  &__heading {
    @include h2;
    margin-bottom: 26px;
  }
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;

  @include tablet {
    grid-template-columns: repeat(9, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  &__item {
    grid-column: span 4;

    @include tablet {
      grid-column: span 3;
    }

    &:nth-child(5n + 1) {
      grid-column: span 6;

      @include tablet {
        grid-column: span 6;
      }
    }

    &:nth-child(5n + 2) {
      grid-column: span 6;

      @include tablet {
        grid-column: span 3;
      }
    }

    &:first-child {
      @include tablet {
        order: 1;
      }
    }

    &:nth-child(2) {
      @include tablet {
        order: 4;
      }

      @include small-tablet {
        order: 3;
      }
    }

    &:nth-child(3) {
      @include tablet {
        order: 2;
      }
    }

    &:nth-child(4) {
      @include tablet {
        order: 3;
      }

      @include small-tablet {
        order: 4;
      }
    }

    &:nth-child(5) {
      @include tablet {
        order: 5;
      }
    }

    &:not(:first-child) {
      & .category-card {
        &__heading {
          margin-bottom: 36px;
        }
      }

      @include small-tablet {
        max-width: 296px;
      }
    }
  }
}

.category-card {
  height: 100%;
  padding: 28px 0 30px;
  border-radius: 10px;
  background-color: $grey_light;
  width: 100%;

  @include tablet {
    display: flex;
    flex-direction: column;
    min-height: 511px;
    padding: 27px 0 30px;
  }

  &__heading {
    padding-left: 30px;
    margin-bottom: 30px;
  }

  &__link {
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
    color: $black;
  }

  &__picture-link {
    display: flex;
    margin-bottom: 26px;

    @include tablet {
      & picture {
        display: flex;
      }
    }
  }

  &__button {
    padding-left: 30px;
    @include link-round;

    @include tablet {
      margin-top: auto;
    }
  }
}

$topNavLinkOptions: (
  fontSize: 14px,
  textColor: $grey,
  backgroundLeft: 10px,
  backgroundTop: 1px,
  hoverColor: $primary,
  focusColor: $primary_shade,
  afterColor: $pink_violet,
  activeColor: $primary_shade,
);

.subcategories {
  margin-bottom: 14px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 30px;

  @include tablet {
    row-gap: 0;
    flex-wrap: wrap;
    padding-right: 30px;
  }

  &__link {
    @include link($topNavLinkOptions);
  }
}
