.categories {
  &__container {
    padding-top: 70px;
    padding-bottom: 35px;
  }

  &__heading {
    @include h2;
    margin-bottom: 26px;
  }
}

.category-card {
  height: 100%;
  padding: 28px 0 30px;
  border-radius: 10px;
  background-color: $grey_light;
  width: 100%;

  @include tablet {
    display: flex;
    flex-direction: column;
    min-height: 511px;
    padding: 27px 0 30px;
  }

  @include mobile {
    min-height: auto;
    padding-bottom: 16px;
    padding-top:16px;
  }

  &__heading {
    padding-left: 30px;
    margin-bottom: 30px;

    @include mobile {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-left: 16px;
      margin-bottom: 16px;
    }
  }

  &__link {
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
    color: $black;

    @include mobile {
      max-width: 76px;
      font-size: 16px;
    }
  }

  &__heading-button {
    @include btn-round;
    display: none;

    @include mobile {
      display: block;
      width: 22px;
      height: 22px;
    }
  }

  &__picture-link {
    display: flex;
    margin-bottom: 26px;

    @include tablet {
      & picture {
        display: flex;
      }
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__button {
    padding-left: 30px;
    @include link-round;

    @include tablet {
      margin-top: auto;
    }

    @include mobile {
      display: none;
    }
  }
}

$topNavLinkOptions: (
  fontSize: 14px,
  textColor: $grey,
  backgroundLeft: 10px,
  backgroundTop: 1px,
  hoverColor: $primary,
  focusColor: $primary_shade,
  afterColor: $pink_violet,
  activeColor: $primary_shade,
);

.subcategories {
  margin-bottom: 14px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 30px;

  @include tablet {
    row-gap: 0;
    flex-wrap: wrap;
    padding-right: 30px;
  }

  @include mobile {
    margin-bottom: 9px;
    padding-right: 16px;
    padding-left: 16px;
    row-gap: 4px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__link {
    @include link($topNavLinkOptions);

    @include mobile {
      font-size: 10px;
      line-height: 100%;
    }
  }

  &__item {
    @include mobile {
      display: flex;
    }
  }
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;

  @include tablet {
    grid-template-columns: repeat(9, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include mobile {
    column-gap: 16px;
    row-gap: 32px;
  }

  &__item {
    grid-column: span 4;

    @include tablet {
      grid-column: span 3;
    }

    &:nth-child(5n + 1) {
      grid-column: span 6;

      @include tablet {
        grid-column: span 6;
      }
    }

    &:nth-child(5n + 2) {
      grid-column: span 6;

      @include tablet {
        grid-column: span 3;
      }
    }

    &:first-child {
      @include tablet {
        order: 1;
      }

      & .category-card {
        padding-top: 30px;

        & .subcategories {
          @include mobile {
            padding-left: 30px;
            gap: 20px;
            flex-direction: row;
            margin-bottom: 15px;
          }

          &__link {
            @include mobile {
              font-size: 14px;
            }
          }
        }

        &__heading {
          @include mobile {
            padding-left: 30px;
            margin-bottom: 12px;
          }
        }

        &__link {
          @include mobile {
            max-width: 100%;
            font-size: 24px;
          }
        }
      }
    }

    &:nth-child(2) {
      @include tablet {
        order: 4;
      }

      @include small-tablet {
        order: 3;
      }
    }

    &:nth-child(3) {
      @include tablet {
        order: 2;
      }
    }

    &:nth-child(5) {
      @include tablet {
        order: 5;
      }
    }

    &:not(:first-child) {
      & .category-card {
        &__heading {
          margin-bottom: 36px;

          @include mobile {
            margin-bottom: 14px;
          }
        }
      }

      @include small-tablet {
        max-width: 296px;
      }
    }

    &:nth-child(4) {
      @include tablet {
        order: 3;
      }

      @include small-tablet {
        order: 4;
      }

      & .category-card {
        padding-top: 19px;

        &__heading {
          @include mobile {
            align-items: flex-end;
            margin-bottom: 18px;
          }
        }

        &__link {
          @include mobile {
            line-height: 104%;
          }
        }

        &__heading-button {
          @include mobile {
            position: relative;
            transform: translateY(5px);
          }
        }
      }
    }
  }
}
