.header {
  &__top {
    background-color: $grey_light;
  }
}

$options: (
  fontSize: 14px,
  textColor: $secondary,
  backgroundLeft: 0px,
  backgroundTop: 0px,
  hoverColor: $secondary_light,
  focusColor: $secondary,
  afterColor: $bone,
  activeColor: $secondary_shade,
);

.top-container {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.phone-link {
  @include link($options);

  & span {
    display: flex;
    align-items: center;
  }

  &:hover {
    .phone-link__icon {
      fill: $secondary_light;
    }
  }

  &:focus {
    .phone-link__icon {
      fill: $secondary;
    }
  }

  &:active {
    .phone-link__icon {
      fill: $secondary_shade;
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
    fill: $secondary;
    transition: fill .3s ease-in-out;
  }
}

$topNavLinkOptions: (
  fontSize: 14px,
  textColor: $grey,
  backgroundLeft: 10px,
  backgroundTop: 1px,
  hoverColor: $primary,
  focusColor: $primary_shade,
  afterColor: $pink_violet,
  activeColor: $primary_shade,
);

.top-nav {
  max-width: 710px;
  width: 100%;
  margin-left: auto;

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    @include link($topNavLinkOptions);
  }
}
