.header {
  &__top {
    background-color: $grey_light;
  }
}

$options: (
  fontSize: 14px,
  textColor: $secondary,
  backgroundLeft: 0px,
  backgroundTop: 0px,
  hoverColor: $secondary_light,
  focusColor: $secondary,
  afterColor: $bone,
  activeColor: $secondary_shade,
);

.top-container {
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $grey_light;
}

.phone-link {
  @include link($options);

  & span {
    display: flex;
    align-items: center;
  }

  &:hover {
    .phone-link__icon {
      fill: $secondary_light;
    }
  }

  &:focus {
    .phone-link__icon {
      fill: $secondary;
    }
  }

  &:active {
    .phone-link__icon {
      fill: $secondary_shade;
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
    fill: $secondary;
    transition: fill .3s ease-in-out;
  }
}

$topNavLinkOptions: (
  fontSize: 14px,
  textColor: $grey,
  backgroundLeft: 10px,
  backgroundTop: 1px,
  hoverColor: $primary,
  focusColor: $primary_shade,
  afterColor: $pink_violet,
  activeColor: $primary_shade,
);

.top-nav {
  max-width: 710px;
  width: 100%;
  margin-left: auto;

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    @include link($topNavLinkOptions);
  }
}

.middle-container {
  padding-top: 32px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.middle {
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.logo {
  &__elephant {
    width: 37px;
    height: 27px;
    fill: $secondary;
  }

  &__spd {
    width: 140px;
    height: 17px;
    fill: $primary;
  }
}

$navLinkOptions: (
  fontSize: 16px,
  textColor: $black,
  backgroundLeft: 10px,
  backgroundTop: 1px,
  hoverColor: $primary,
  focusColor: $black,
  afterColor: $pink_violet,
  activeColor: $primary_shade,
);

.nav {
  margin-left: auto;
  max-width: 952px;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    @include link($navLinkOptions);
  }
}

.bottom {
  display: flex;
  align-items: center;
  padding-bottom: 31px;
}

.search-form {
  max-width: 1061px;
  width: 100%;
  position: relative;

  &__label {
    display: block;
    width: 100%;
    position: relative;
  }

  &__loupe {
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    fill: $grey
  }

  &__input {
    @include base-input;
    padding-top: 9.2px;
    padding-bottom: 9.2px;
    padding-left: 59px;
  }

  &__button {
    @include btn-round;
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
  }
}

.person-list {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 29.2px;

  &__link {
    position: relative;
    display: flex;

    & span {
      display: flex;
      position: relative;
      z-index: 3;
    }

    &::after {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      background-color: transparent;
      transition: background-color .3s ease-in-out;
    }

    &:hover {
      & .person-icon,
      & .cart-icon {
        fill: $primary_light;
      }
    }

    &:focus {
      outline: none;

      &::after {
        background-color: $primary;
      }

      & .person-icon,
      & .cart-icon {
        fill: $white;
      }
    }

    &:active {
      &::after {
        background-color: transparent;
      }

      & .person-icon,
      & .cart-icon {
        fill: $primary_shade;
      }
    }
  }
}

.person-icon {
  width: 26px;
  height: 28px;
  fill: $primary;
  transition: fill .3s ease-in-out;
}

.cart-icon {
  width: 30px;
  height: 28px;
  fill: $primary;
  transition: fill .3s ease-in-out;
}

.cart-link {
  display: flex;
  align-items: center;

  &__count {
    position: relative;
    left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5px 4px;
    border-radius: 100%;
    font-size: 10px;
    line-height: 100%;
    font-weight: 700;
    color: $white;
    background-color: $secondary;
  }
}
