.rating {
  &__container {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  &__heading {
    @include h2;
    margin-bottom: 26px;
  }
}

.rating-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;

  @include tablet {
    grid-template-columns: repeat(9, 1fr);
  }

  @include small-tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(calc((100% - 24px - 16px) / 2), 1fr));
    gap: 16px;
  }

  &__item {
    grid-area: span 1 / span 3;

    @include mobile{
      grid-area: auto;
    }

    &:nth-child(n+7) {
      @include tablet {
        display: none;
      }
    }

    &:nth-child(1) {
      & .card {
        &__picture-link {
          @include mobile {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}

.card {
  box-sizing: border-box;
  position: relative;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px 15px;
  background-color: $grey_light;
  border-radius: 10px;

  @include mobile {
    padding: 45px 0 16px;
    min-height: 278px;
    height: 100%;
  }

  @include small-mobile {
    padding: 0 0 16px;
  }

  &__rating {
    position: absolute;
    top: 31px;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 6.75px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: $secondary;

    @include mobile {
      top: 16px;
      left: 16px;
      font-size: 12px;
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
    fill: $secondary;

    @include mobile {
      width: 12px;
      height: 12px;
    }
  }

  &__picture-link {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 13px;

    @include mobile {
      margin-bottom: 10px;
      padding: 0 16px;
    }
  }

  &__link {
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    color: $black;

    @include mobile {
      font-size: 16px;
    }
  }

  &__heading {
    padding: 0 15px;
    width: 100%;
    margin-bottom: 21px;

    @include mobile {
      margin-bottom: 16px;
      padding: 0 16px;
      width: 76%;
    }
  }

  &__number {
    display: block;
  }

  &__price {
    margin-bottom: 24px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: $grey_shade;

    @include mobile {
      padding: 0 16px;
      margin-bottom: 16px;
    }
  }

  &__button {
    margin-left: 15px;
    @include btn-secondary;
    padding: 17.4px 31.5px;

    @include mobile {
      padding: 10px 23px;
      margin-left: 16px;
      width: calc(100% - 32px);
    }
  }
}
