.useful {
  &__container {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &__heading {
    @include h2;
    margin-bottom: 26px;
  }
}

.useful-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;

  @include tablet {
    grid-template-columns: repeat(9, 1fr);
  }

  @include small-tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 24px;
  }

  &__item {
    grid-column: span 6;

    &:nth-child(n+3) {
      display: none;

      @include tablet {
        display: block;
      }

      @include small-tablet {
        display: none;
      }

      @include mobile {
        display: block;
      }
    }

    @include tablet {
      grid-column: span 3;
    }

    @include mobile {
      grid-column: auto;
    }
  }
}

.useful-card {
  &__picture {
    display: flex;
  }

  &__content {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $grey_light;

    @include tablet {
      min-height: 254px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
    color: $black;

    @include tablet {
      font-size: 16px;
    }
  }

  &__button {
    @include btn-secondary;
    margin-top: auto;
    padding: 17.4px 31.5px;
  }
}
