/* stylelint-disable */

@mixin custom-checkbox {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    padding-left: 25px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid $grey;
      border-radius: 2px;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      background-image: url("../../img/svg/check.svg");
      background-position: center;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:checked + .custom-checkbox__content::before {
  border-color: $primary;
  background-color: $primary;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
