@mixin link-primary {
  position: relative;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  color: $black;
  transition: color .3s ease-in-out;

  & span {
    position: relative;
    z-index: 3;
  }

  &::after {
    content: '';
    position: absolute;
    left: -10px;
    top: -1px;
    width: calc(100% + 20px);
    height: calc(100% + 2px);
    background-color: transparent;
    z-index: 2;
    transition: background-color .3s ease-in-out;
  }

  &:hover {
    color: $primary;
  }

  &:focus {
    outline: none;

    &::after {
      background-color: $pink_violet;
    }
  }

  &:active {
    color: $primary_shade;
  }
}
