<div class="container breadcrumbs-container">
  <ul class="list-reset breadcrumbs">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="/">
        <span>
          Главная
        </span>
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">
        <span>
          Каталог
        </span>
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">
        <span>
          Диваны
        </span>
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="/catalog.html">
        <span>
          Прямые диваны
        </span>
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link breadcrumbs__link_active" href="#">
        <span>
          D-31
        </span>
      </a>
    </li>
  </ul>
</div>
