<section class="callback">
  <div class="container callback__container">
    <h2 class="heading-reset callback__heading">
      Мы всегда вам рады!
    </h2>
    <p class="heading-reset callback__subheading">
      Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения
      внутренних резервов и ресурсов.
    </p>
    <form class="callback__form callback-form">
      <label class="callback-form__label" for="name">
        <input class="input-reset callback-form__input" type="text" name="name" id="name" placeholder="Как вас зовут?">
      </label>
      <label class="callback-form__label" for="phone">
        <input class="input-reset callback-form__input" type="text" name="phone" id="phone" placeholder="Ваш телефон">
      </label>
      <label class="callback-form__label" for="email">
        <input class="input-reset callback-form__input" type="text" name="email" id="email" placeholder="Ваш e-mail">
      </label>
      <button class="btn-reset callback-form__button">Отправить</button>
      <label class="callback-form__checkbox custom-checkbox">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">
          Принимаю <a class="callback-form__agreement" href="#">пользовательское соглашение</a>
        </span>
      </label>
    </form>
  </div>
</section>
