<section class="catalog">
  <div class="container catalog__container">
    <h1 class="heading-reset catalog__heading">Каталог</h1>
    <aside class="catalog__left catalog-left">
      <h3 class="heading-reset catalog-left__heading">Фильтровать по:</h3>
      <div class="filter-group catalog-left__filters">
        <h4 class="heading-reset filter-group__heading">
          Цвет
        </h4>
        <ul class="list-reset filter-group__list">
          <li>
            <label class="filter-group__checkbox filter-checkbox">
              <input type="checkbox" class="filter-checkbox__field">
              <span class="filter-checkbox__content">Коричневый</span>
            </label>
          </li>
          <li>
            <label class="filter-group__checkbox filter-checkbox">
              <input type="checkbox" class="filter-checkbox__field">
              <span class="filter-checkbox__content"></span>
              Черный
            </label>
          </li>
          <li>
            <label class="filter-group__checkbox filter-checkbox">
              <input type="checkbox" class="filter-checkbox__field">
              <span class="filter-checkbox__content"></span>
              Синий
            </label>
          </li>
          <li>
            <label class="filter-group__checkbox filter-checkbox">
              <input type="checkbox" class="filter-checkbox__field">
              <span class="filter-checkbox__content"></span>
              Белый
            </label>
          </li>
        </ul>
      </div>
      <div class="filter-group catalog-left__filters">
        <h4 class="heading-reset filter-group__heading">
          Категория
        </h4>
        <ul class="list-reset filter-group__list">
          <li>
            <label class="filter-group__checkbox filter-checkbox">
              <input type="checkbox" class="filter-checkbox__field">
              <span class="filter-checkbox__content"></span>
              Диваны
            </label>
          </li>
          <li>
            <label class="filter-group__checkbox filter-checkbox">
              <input type="checkbox" class="filter-checkbox__field">
              <span class="filter-checkbox__content"></span>
              Кресла
            </label>
          </li>
        </ul>
      </div>
      <div class="filter-group catalog-left__filters">
        <h4 class="heading-reset filter-group__heading filter-group__heading_prices">
          Цена
        </h4>
        <div class="filter-group__prices">
          <label class="filter-group__label" for="from">
            от
            <input class="input-reset filter-group__input" id="from" type="number">
          </label>
          <label class="filter-group__label" for="to">
            до
            <input class="input-reset filter-group__input" id="to" type="number">
          </label>
        </div>
      </div>
      <article class="catalog__commercial catalog-commercial">
        <picture class="catalog-commercial__picture">
          <source srcset="../img/catalog-commercial.webp" type="image/webp">
          <img loading="lazy" src="../img/catalog-commercial.png" class="image" width="296" height="190"
            alt="Оксфорд 1950 Новая коллекция изысканных кресел">
        </picture>
        <div class="catalog-commercial__content">
          <h4 class="heading-reset catalog-commercial__heading">
            Оксфорд 1950
          </h4>
          <p class="heading-reset catalog-commercial__subheading">
            Новая коллекция изысканных кресел
          </p>
          <a class="catalog-commercial__button" href="#">
            <span>В каталог</span>
            <div></div>
          </a>
        </div>
      </article>
    </aside>
    <div class="catalog__content content">
      <div class="swiper content-swiper">
        <div class="swiper-wrapper content-swiper__wrapper">
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                5,0
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/1-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/1-rating.png" class="image" width="266" height="82"
                    alt="Диван кожаный “R-94”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван кожаный <span class="card__number">“R-94”</span>
                </a>
              </h3>
              <div class="card__price">
                94 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,9
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/2-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/2-rating.png" class="image" width="261" height="101"
                    alt="Диван апартековый “T-75”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван апартековый <span class="card__number">“T-75”</span>
                </a>
              </h3>
              <div class="card__price">
                69 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,8
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/3-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/3-rating.png" class="image" width="262" height="103"
                    alt="Диван тканевый “D-31”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван тканевый <span class="card__number">“D-31”</span>
                </a>
              </h3>
              <div class="card__price">
                28 490 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,8
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/4-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/4-rating.png" class="image" width="257" height="152"
                    alt="Диван велюровый “Y-68”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван велюровый <span class="card__number">“Y-68”</span>
                </a>
              </h3>
              <div class="card__price">
                22 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,8
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/5-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/5-rating.png" class="image" width="265" height="117"
                    alt="Диван из шинила “W-95”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван из шинила <span class="card__number">“W-95”</span>
                </a>
              </h3>
              <div class="card__price">
                22 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,8
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/6-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/6-rating.png" class="image" width="271" height="117"
                    alt="Диван флоковый “G-41”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван флоковый <span class="card__number">“G-41”</span>
                </a>
              </h3>
              <div class="card__price">
                17 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,8
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/7-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/7-rating.png" class="image" width="266" height="130"
                    alt="Диван шиниловый “V-43”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван шиниловый <span class="card__number">“V-43”</span>
                </a>
              </h3>
              <div class="card__price">
                19 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,7
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/8-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/8-rating.png" class="image" width="212" height="124"
                    alt="Диван велюровый “S-99”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван велюровый <span class="card__number">“S-99”</span>
                </a>
              </h3>
              <div class="card__price">
                19 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,7
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/9-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/9-rating.png" class="image" width="262" height="125"
                    alt="Диван из кожзама “F-85”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван из кожзама <span class="card__number">“F-85”</span>
                </a>
              </h3>
              <div class="card__price">
                26 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                5,0
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/1-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/1-rating.png" class="image" width="266" height="82"
                    alt="Диван кожаный “R-94”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван кожаный <span class="card__number">“R-94”</span>
                </a>
              </h3>
              <div class="card__price">
                94 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,9
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/2-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/2-rating.png" class="image" width="261" height="101"
                    alt="Диван апартековый “T-75”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван апартековый <span class="card__number">“T-75”</span>
                </a>
              </h3>
              <div class="card__price">
                69 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,8
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/3-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/3-rating.png" class="image" width="262" height="103"
                    alt="Диван тканевый “D-31”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван тканевый <span class="card__number">“D-31”</span>
                </a>
              </h3>
              <div class="card__price">
                28 490 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,8
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/4-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/4-rating.png" class="image" width="257" height="152"
                    alt="Диван велюровый “Y-68”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван велюровый <span class="card__number">“Y-68”</span>
                </a>
              </h3>
              <div class="card__price">
                22 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,8
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/5-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/5-rating.png" class="image" width="265" height="117"
                    alt="Диван из шинила “W-95”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван из шинила <span class="card__number">“W-95”</span>
                </a>
              </h3>
              <div class="card__price">
                22 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,8
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/6-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/6-rating.png" class="image" width="271" height="117"
                    alt="Диван флоковый “G-41”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван флоковый <span class="card__number">“G-41”</span>
                </a>
              </h3>
              <div class="card__price">
                17 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,8
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/7-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/7-rating.png" class="image" width="266" height="130"
                    alt="Диван шиниловый “V-43”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван шиниловый <span class="card__number">“V-43”</span>
                </a>
              </h3>
              <div class="card__price">
                19 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,7
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/8-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/8-rating.png" class="image" width="212" height="124"
                    alt="Диван велюровый “S-99”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван велюровый <span class="card__number">“S-99”</span>
                </a>
              </h3>
              <div class="card__price">
                19 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
          <div class="swiper-slide content-swiper__slide">
            <article class="rating-list__card card">
              <div class="card__rating">
                <svg class="card__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4,7
              </div>
              <a class="card__picture-link" href="#">
                <picture class="card__picture">
                  <source srcset="../img/9-rating.webp" type="image/webp">
                  <img loading="lazy" src="../img/9-rating.png" class="image" width="262" height="125"
                    alt="Диван из кожзама “F-85”">
                </picture>
              </a>
              <h3 class="heading-reset card__heading">
                <a class="card__link" href="#">
                  Диван из кожзама <span class="card__number">“F-85”</span>
                </a>
              </h3>
              <div class="card__price">
                26 990 руб
              </div>
              <button class="btn-reset card__button">
                Купить
              </button>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination catalog-pagination"></div>
  </div>
</section>
