<section class="categories">
  <div class="container categories__container">
    <h2 class="heading-reset categories__heading">
      Топ категории
    </h2>
    <ul class="list-reset categories__list categories-list">
      <li class="categories-list__item">
        <article class="categories-list__card category-card">
          <ul class="list-reset category-card__subcategories subcategories">
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Прямые
                </span>
              </a>
            </li>
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Угловые
                </span>
              </a>
            </li>
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Модульные
                </span>
              </a>
            </li>
          </ul>
          <h3 class="heading-reset category-card__heading">
            <a class="category-card__link" href="#">
              Диваны
            </a>
            <button class="category-card__heading-button"></button>
          </h3>
          <a class="category-card__picture-link" href="#">
            <picture>
              <source media="(max-width: 320px)" srcset="../img/1-category-mobile.webp" type="image/webp">
              <source media="(max-width: 1024px)" srcset="../img/1-category-tablet.webp" type="image/webp">
              <source srcset="../img/1-category.webp" type="image/webp">
              <img src="../img/1-category.png" alt="armchair">
            </picture>
          </a>
          <a class="category-card__button" href="#">
            <span>В каталог</span>
            <div></div>
          </a>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="categories-list__card category-card">
          <ul class="list-reset category-card__subcategories subcategories">
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Мягкие
                </span>
              </a>
            </li>
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Кресла-кровати
                </span>
              </a>
            </li>
          </ul>
          <h3 class="heading-reset category-card__heading">
            <a class="category-card__link" href="#">
              Кресла
            </a>
            <button class="category-card__heading-button"></button>
          </h3>
          <a class="category-card__picture-link" href="#">
            <picture>
              <source media="(max-width: 320px)" srcset="../img/2-category-mobile.webp" type="image/webp">
              <source media="(max-width: 1024px)" srcset="../img/2-category-tablet.webp" type="image/webp">
              <source srcset="../img/2-category.webp" type="image/webp">
              <img loading="lazy" src="../img/2-category.png" class="image" alt="Кресла">
            </picture>
          </a>
          <a class="category-card__button" href="#">
            <span>В каталог</span>
            <div></div>
          </a>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="categories-list__card category-card">
          <ul class="list-reset category-card__subcategories subcategories">
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Односпальные
                </span>
              </a>
            </li>
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Двуспальные
                </span>
              </a>
            </li>
          </ul>
          <h3 class="heading-reset category-card__heading">
            <a class="category-card__link" href="#">
              Кровати
            </a>
            <button class="category-card__heading-button"></button>
          </h3>
          <a class="category-card__picture-link" href="#">
            <picture>
              <source media="(max-width: 320px)" srcset="../img/3-category-mobile.webp" type="image/webp">
              <source media="(max-width: 850px)" srcset="../img/3-category-sm.webp" type="image/webp">
              <source media="(max-width: 1024px)" srcset="../img/3-category-tablet.webp" type="image/webp">
              <source srcset="../img/3-category.webp" type="image/webp">
              <img loading="lazy" src="../img/3-category.png" class="image" alt="Кровати">
            </picture>
          </a>
          <a class="category-card__button" href="#">
            <span>В каталог</span>
            <div></div>
          </a>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="categories-list__card category-card">
          <ul class="list-reset category-card__subcategories subcategories">
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Тумбы
                </span>
              </a>
            </li>
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Комоды
                </span>
              </a>
            </li>
          </ul>
          <h3 class="heading-reset category-card__heading">
            <a class="category-card__link" href="#">
              Тумбы и комоды
            </a>
            <button class="category-card__heading-button"></button>
          </h3>
          <a class="category-card__picture-link" href="#">
            <picture>
              <source media="(max-width: 320px)" srcset="../img/4-category-mobile.webp" type="image/webp">
              <source media="(max-width: 1024px)" srcset="../img/4-category-tablet.webp" type="image/webp">
              <source srcset="../img/4-category.webp" type="image/webp">
              <img loading="lazy" src="../img/4-category.png" class="image" alt="Тумбы и комоды">
            </picture>
          </a>
          <a class="category-card__button" href="#">
            <span>В каталог</span>
            <div></div>
          </a>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="categories-list__card category-card">
          <ul class="list-reset category-card__subcategories subcategories">
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Деревянные
                </span>
              </a>
            </li>
            <li class="subcategories__item">
              <a class="subcategories__link" href="#">
                <span>
                  Металлокаркас
                </span>
              </a>
            </li>
          </ul>
          <h3 class="heading-reset category-card__heading">
            <a class="category-card__link" href="#">
              Стулья
            </a>
            <button class="category-card__heading-button"></button>
          </h3>
          <a class="category-card__picture-link" href="#">
            <picture>
              <source media="(max-width: 320px)" srcset="../img/5-category-mobile.webp" type="image/webp">
              <source media="(max-width: 1024px)" srcset="../img/5-category-tablet.webp" type="image/webp">
              <source srcset="../img/5-category.webp" type="image/webp">
              <img loading="lazy" src="../img/5-category.png" class="image" alt="Стулья">
            </picture>
          </a>
          <a class="category-card__button" href="#">
            <span>В каталог</span>
            <div></div>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
