<section class="cooperation">
  <div class="container cooperation__container">
    <h1 class="heading-reset cooperation__heading">
      Сотрудничество
    </h1>
    <div class="cooperation__block">
      <h2 class="heading-reset cooperation__subheading">
        Поставщикам
      </h2>
      <p class="heading-reset cooperation__text">
        При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей: грамотно
        зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо комплексное
        оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой
        деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего трафика.
      </p>
    </div>
    <div class="cooperation__block cooperation__block_getting">
      <h2 class="heading-reset cooperation__subheading">
        Что вы получаете?
      </h2>
      <ul class="list-reset get-list">
        <li class="get-list__item">
          <p class="heading-reset get-list__text">
            Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая
            нами продукция гармонично дополнит любой современный проект.
          </p>
        </li>
        <li class="get-list__item">
          <p class="heading-reset get-list__text">
            Комплексное решение для красивого и функционального обустройства любых пространств.
          </p>
        </li>
        <li class="get-list__item">
          <p class="heading-reset get-list__text">
            В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных
            типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
          </p>
        </li>
      </ul>
    </div>
    <div class="cooperation__block">
      <h2 class="heading-reset cooperation__subheading cooperation__subheading_mobile">
        Ваши преимущества от сотрудничества
      </h2>
      <ul class="list-reset opportunity-list">
        <li class="opportunity-list__item">
          <h3 class="heading-reset opportunity-list__heading">
            Возможность 1:
          </h3>
          <p class="heading-reset cooperation__text">
            Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а
            созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка
            творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а
            мы поможем правильно выбрать мебель.
          </p>
        </li>
        <li class="opportunity-list__item">
          <h3 class="heading-reset opportunity-list__heading">
            Возможность 2:
          </h3>
          <p class="heading-reset cooperation__text">
            Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования
            обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем
            организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы
            покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные
            ожидания.
          </p>
        </li>
      </ul>
    </div>
    <div class="cooperation__block guarantee">
      <h2 class="heading-reset cooperation__subheading guarantee__heading">
        Гарантии
      </h2>
      <ol class="guarantee-list">
        <li class="guarantee-list__item">
          <p class="heading-reset cooperation__text guarantee-list__text">
            При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на
            соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает
            право предъявления претензий, которые можно выявить при приемке товара.
          </p>
        </li>
        <li class="guarantee-list__item">
          <p class="heading-reset cooperation__text guarantee-list__text">
            На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные
            обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара,
            полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара
            надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован
            исключительно приобретающим его потребителем.
          </p>
        </li>
        <li class="guarantee-list__item">
          <p class="heading-reset cooperation__text guarantee-list__text">
            Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские
            свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости
            товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги
            доставки.
          </p>
        </li>
      </ol>
    </div>
    <div class="cooperation__block cooperation-guarantee">
      <picture class="cooperation-guarantee__picture">
        <source srcset="../img/guarantee.webp" type="image/webp">
        <img loading="lazy" src="../img/guarantee.png" class="image" width="77" height="116" alt="Гарантия">
      </picture>
      <p class="heading-reset cooperation-guarantee__text">
        Срок гарантии на нашу мебель составляет от 18 до 60 месяцев
      </p>
    </div>
  </div>
</section>
