<footer class="footer">
  <div class="footer__top footer-top">
    <div class="container footer-top__container">
      <div class="footer-top__left">
        <a class="logo" href="/">
          <svg class="logo__elephant">
            <use xlink:href="img/sprite.svg#elephant"></use>
          </svg>
          <svg class="logo__spd">
            <use xlink:href="img/sprite.svg#spd"></use>
          </svg>
        </a>
        <ul class="list-reset social footer-top__social" title="Социальные сети">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Наша страничка в Одноклассниках">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#ok"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--vk" aria-label="Наша страничка во Вконтакте">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-top__right">
        <div class="footer-top__about about footer__links">
          <h6 class="heading-reset about__heading footer__heading">
            О нас
          </h6>
          <ul class="list-reset about__list footer-list">
            <li class="footer-list__item">
              <a class="footer-list__link" href="#">
                <span>О компании</span>
              </a>
            </li>
            <li class="footer-list__item">
              <a class="footer-list__link" href="#">
                <span>Блог</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-top__services services footer__links">
          <h6 class="heading-reset services__heading footer__heading">
            Услуги
          </h6>
          <ul class="list-reset services__list footer-list">
            <li class="footer-list__item">
              <a class="footer-list__link" href="#">
                <span>Доставка</span>
              </a>
            </li>
            <li class="footer-list__item">
              <a class="footer-list__link" href="#">
                <span>Рассрочка и кредит</span>
              </a>
            </li>
            <li class="footer-list__item">
              <a class="footer-list__link" href="#">
                <span>Сборка и установка</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-top__connection connection footer__links">
          <h6 class="heading-reset connection__heading footer__heading">
            Связь с нами
          </h6>
          <ul class="list-reset connection__list footer-list">
            <li class="footer-list__item">
              <a class="footer-list__link" href="#">
                <span>Обратная связь</span>
              </a>
            </li>
            <li class="footer-list__item">
              <a class="footer-list__link" href="#">
                <span>Контакты</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-top__cooperation cooperation footer__links">
          <h6 class="heading-reset cooperation__heading footer__heading">
            Сотрудничество
          </h6>
          <ul class="list-reset cooperation__list footer-list">
            <li class="footer-list__item">
              <a class="footer-list__link" href="#">
                <span>Поставщикам</span>
              </a>
            </li>
            <li class="footer-list__item">
              <a class="footer-list__link" href="#">
                <span>Оптовикам</span>
              </a>
            </li>
            <li class="footer-list__item">
              <a class="footer-list__link" href="#">
                <span>Карьера</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom footer-bottom">
    <div class="container footer-bottom__container">
      <p class="heading-reset footer-bottom__copyright">
        <span>SDP®</span>
        <span>2011-2021</span>
    </div>
  </div>
</footer>
