<header class="header">
  <div class="header__top">
    <div class="container top-container">
      <a class="top-container__link phone-link" href="tel:84958854547">
        <span>
          <svg class="phone-link__icon">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          +7 (495) 885-45-47
        </span>
      </a>
      <nav class="top-container__nav top-nav" title="Дополнительная навигация">
        <ul class="list-reset top-nav__list">
          <li class="top-nav__item">
            <a href="#" class="top-nav__link">
              <span>
                О компании
              </span>
            </a>
          </li>
          <li class="top-nav__item">
            <a href="#" class="top-nav__link">
              <span>
                Гарантия и возврат
              </span>
            </a>
          </li>
          <li class="top-nav__item">
            <a href="#" class="top-nav__link">
              <span>
                Корпоративным клиентам
              </span>
            </a>
          </li>
          <li class="top-nav__item">
            <a href="#" class="top-nav__link">
              <span>
                Дизайн-решение
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header__top header__top_tablet">
    <div class="container top-container top-container-tablet">
      <nav class="top-container__nav top-nav top-nav_tablet" title="Дополнительная навигация">
        <ul class="list-reset top-nav__list">
          <li class="top-nav__item">
            <a href="#" class="top-nav__link">
              <span>
                О компании
              </span>
            </a>
          </li>
          <li class="top-nav__item">
            <a href="#" class="top-nav__link">
              <span>
                Гарантия и возврат
              </span>
            </a>
          </li>
          <li class="top-nav__item">
            <a href="#" class="top-nav__link">
              <span>
                Корпоративным клиентам
              </span>
            </a>
          </li>
          <li class="top-nav__item">
            <a href="#" class="top-nav__link">
              <span>
                Дизайн-решение
              </span>
            </a>
          </li>
        </ul>
      </nav>
      <ul class="list-reset person-list person-list_tablet">
        <li class="person-list__item">
          <a class="person-list__link" href="#">
            <span>
              <svg class="person-list__icon person-icon">
                <use xlink:href="img/sprite.svg#person"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="person-list__item">
          <a class="person-list__link cart-link" href="#">
            <span class="cart-link__count">0</span>
            <span>
              <svg class="person-list__icon cart-icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header__middle">
    <div class="container middle-container middle">
      <a class="middle__logo logo" href="/">
        <svg class="logo__elephant">
          <use xlink:href="img/sprite.svg#elephant"></use>
        </svg>
        <svg class="logo__spd">
          <use xlink:href="img/sprite.svg#spd"></use>
        </svg>
      </a>
      <nav class="nav middle__nav" title="Навигация">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">
              <span>
                Каталог
              </span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <span>
                Магазины
              </span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <span>
                Шоу-рум
              </span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <span>
                Доставка и оплата
              </span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <span>
                Дисконт
              </span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <span>
                Контакты
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container bottom__container bottom">
      <form class="bottom__form search-form">
        <label class="search-form__label" for="search">
          <svg class="search-form__loupe">
            <use xlink:href="img/sprite.svg#loupe"></use>
          </svg>
          <input class="input-reset search-form__input" type="text" placeholder="Я хочу купить...">
        </label>
        <button class="btn-reset search-form__button"></button>
      </form>
      <ul class="list-reset person-list">
        <li class="person-list__item">
          <a class="person-list__link" href="#">
            <span>
              <svg class="person-list__icon person-icon">
                <use xlink:href="img/sprite.svg#person"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="person-list__item">
          <a class="person-list__link cart-link" href="#">
            <span class="cart-link__count">0</span>
            <span>
              <svg class="person-list__icon cart-icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
