<header class="header">
  <div class="container">
    <button class="btn-reset btn" disabled>Получить!</button>
    <button class="btn-reset btn">Получить!</button>
    <button class="btn-reset btn-sec">Купить</button>
    <button class="btn-reset btn-sec" disabled>Купить</button>
    <a href="#" class="link"><span>Каталог</span></a>
    <a href="#" class="link-sec"><span>О компании</span></a>
    <button class="btn-reset btn-round"></button>
    <button class="btn-reset btn-round" disabled></button>
    <a href="#" class="link-round">
      <span>В каталог</span>
      <button></button>
    </a>
    <input class="input-reset input" type="text" placeholder="Введите текст..."/>
    <label class="custom-checkbox">
      <input type="checkbox" class="custom-checkbox__field">
      <span class="custom-checkbox__content"></span>
    </label>
  </div>
</header>
