<section class="product">
  <div class="container product__container">
    <picture class="product__picture">
      <source media="(max-width: 850px)" srcset="../img/1-product-sm.webp" type="image/webp">
      <source srcset="../img/1-product.webp" type="image/webp">
      <img loading="lazy" src="../img/1-product.png" class="image" width="624" height="245"
        alt="Диван тканевый прямой “D-31”">
    </picture>
    <div class="product__description description">
      <h6 class="heading-reset description__heading">
        Опорный механизм
      </h6>
      <p class="heading-reset description__content">
        Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию. У опорного дивана сиденье
        «выпрыгивает» вперёд и вытаскивает вторую часть спального места. Заключительный штрих — опустить спинку.
      </p>
      <p class="heading-reset description__content description__content_last">
        Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но
        подросток справится.
      </p>
      <div class="product__schema">
        <picture>
          <source srcset="../img/1-schema.webp" type="image/webp">
          <img loading="lazy" src="../img/1-schema.png" class="image" width="247" height="113" alt="Схема 1">
        </picture>
        <picture>
          <source srcset="../img/2-schema.webp" type="image/webp">
          <img loading="lazy" src="../img/2-schema.png" class="image" width="247" height="113" alt="Схема 2">
        </picture>
      </div>
    </div>
    <div class="product__info">
      <div class="product__rating">
        <svg class="product__icon">
          <use xlink:href="../img/sprite.svg#star"></use>
        </svg>
        <span>
          4,8
        </span>
      </div>
      <h1 class="heading-reset product__heading">
        Диван тканевый прямой “D-31”
      </h1>
      <p class="heading-reset product__subheading">
        Мини 120 см без ящика Stark <span class="product__block">синий (Рогожка)</span>
      </p>
      <div class="product__price">
        28 490 руб
      </div>
      <div class="product__buttons">
        <button class="btn-reset product__button">
          Купить в один клик
        </button>
        <button class="btn-reset product__buy-click">
          + Добавить в корзину
        </button>
      </div>
    </div>
    <div class="product__characteristics">
      <ul class="list-reset characteristics-list">
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Гарантия
          </span>
          <span class="characteristics-list__value">
            18 месяцев
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Артикул
          </span>
          <span class="characteristics-list__value">
            AAA41269004
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Длина
          </span>
          <span class="characteristics-list__value">
            163 см
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Высота
          </span>
          <span class="characteristics-list__value">
            90 см
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Глубина
          </span>
          <span class="characteristics-list__value">
            108 см
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Спальное место
          </span>
          <span class="characteristics-list__value">
            200 см х 125 см
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Высота посадки
          </span>
          <span class="characteristics-list__value">
            45 см
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Механизм
          </span>
          <span class="characteristics-list__value">
            Опорный
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Тип обивки
          </span>
          <span class="characteristics-list__value">
            Рогожка
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Цвет
          </span>
          <span class="characteristics-list__value">
            Синий
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Наполнитель
          </span>
          <span class="characteristics-list__value">
            Независимый пружинный блок
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Материал каркаса
          </span>
          <span class="characteristics-list__value">
            Металл. рама с дерев. латами
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Количество мест
          </span>
          <span class="characteristics-list__value">
            Двухместные
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Категория
          </span>
          <span class="characteristics-list__value">
            Прямые тканевые диваны
          </span>
        </li>
        <li class="characteristics-list__item">
          <span class="characteristics-list__name">
            Возврат
          </span>
          <span class="characteristics-list__value">
            Условия
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
