<section class="rating">
  <div class="container rating__container">
    <h2 class="heading-reset rating__heading">
      Высокий рейтинг
    </h2>
    <ul class="list-reset rating__list rating-list">
      <li class="rating-list__item">
        <article class="rating-list__card card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            5,0
          </div>
          <a class="card__picture-link" href="#">
            <picture class="card__picture">
              <source srcset="../img/1-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/1-rating.png" class="image" width="266" height="82" alt="Диван кожаный “R-94”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="#">
              Диван кожаный <span class="card__number">“R-94”</span>
            </a>
          </h3>
          <div class="card__price">
            94 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
      <li class="rating-list__item">
        <article class="rating-list__card card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,9
          </div>
          <a class="card__picture-link" href="#">
            <picture class="card__picture">
              <source srcset="../img/2-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/2-rating.png" class="image" width="261" height="101" alt="Диван апартековый “T-75”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="#">
              Диван апартековый <span class="card__number">“T-75”</span>
            </a>
          </h3>
          <div class="card__price">
            69 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
      <li class="rating-list__item">
        <article class="rating-list__card card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,8
          </div>
          <a class="card__picture-link" href="#">
            <picture class="card__picture">
              <source srcset="../img/3-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/3-rating.png" class="image" width="262" height="103" alt="Диван тканевый “D-31”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="#">
              Диван тканевый <span class="card__number">“D-31”</span>
            </a>
          </h3>
          <div class="card__price">
            28 490 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
      <li class="rating-list__item">
        <article class="rating-list__card card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,8
          </div>
          <a class="card__picture-link" href="#">
            <picture class="card__picture">
              <source srcset="../img/4-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/4-rating.png" class="image" width="257" height="152" alt="Диван велюровый “Y-68”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="#">
              Диван велюровый <span class="card__number">“Y-68”</span>
            </a>
          </h3>
          <div class="card__price">
            22 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
      <li class="rating-list__item">
        <article class="rating-list__card card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,8
          </div>
          <a class="card__picture-link" href="#">
            <picture class="card__picture">
              <source srcset="../img/5-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/5-rating.png" class="image" width="265" height="117" alt="Диван из шинила “W-95”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="#">
              Диван из шинила <span class="card__number">“W-95”</span>
            </a>
          </h3>
          <div class="card__price">
            22 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
      <li class="rating-list__item">
        <article class="rating-list__card card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,8
          </div>
          <a class="card__picture-link" href="#">
            <picture class="card__picture">
              <source srcset="../img/6-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/6-rating.png" class="image" width="271" height="117" alt="Диван флоковый “G-41”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="#">
              Диван флоковый <span class="card__number">“G-41”</span>
            </a>
          </h3>
          <div class="card__price">
            17 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
      <li class="rating-list__item">
        <article class="rating-list__card card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,8
          </div>
          <a class="card__picture-link" href="#">
            <picture class="card__picture">
              <source srcset="../img/7-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/7-rating.png" class="image" width="266" height="130" alt="Диван шиниловый “V-43”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="#">
              Диван шиниловый <span class="card__number">“V-43”</span>
            </a>
          </h3>
          <div class="card__price">
            19 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
      <li class="rating-list__item">
        <article class="rating-list__card card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,7
          </div>
          <a class="card__picture-link" href="#">
            <picture class="card__picture">
              <source srcset="../img/8-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/8-rating.png" class="image" width="212" height="124" alt="Диван велюровый “S-99”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="#">
              Диван велюровый <span class="card__number">“S-99”</span>
            </a>
          </h3>
          <div class="card__price">
            19 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>
