<section class="similar">
  <div class="container similar__container">
    <h2 class="heading-reset similar__heading">
      Похожие товары
    </h2>
    <ul class="list-reset similar-list">
      <li class="similar-list__item">
        <article class="card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,5
          </div>
          <a class="card__picture-link" href="/product.html">
            <picture class="card__picture">
              <source srcset="../img/10-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/10-rating.png" class="image" width="251" height="105"
                alt="Диван велюровый “R-85”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="/product.html">
              Диван велюровый <span class="card__number">“R-85”</span>
            </a>
          </h3>
          <div class="card__price">
            34 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
      <li class="similar-list__item">
        <article class="card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,6
          </div>
          <a class="card__picture-link" href="/product.html">
            <picture class="card__picture">
              <source srcset="../img/11-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/11-rating.png" class="image" width="233" height="133"
                alt="Диван флоковый “H-58”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="/product.html">
              Диван флоковый <span class="card__number">“H-58”</span>
            </a>
          </h3>
          <div class="card__price">
            23 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
      <li class="similar-list__item">
        <article class="card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,5
          </div>
          <a class="card__picture-link" href="/product.html">
            <picture class="card__picture">
              <source srcset="../img/12-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/12-rating.png" class="image" width="272" height="105"
                alt="Диван велюровый “S-44”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="/product.html">
              Диван велюровый <span class="card__number">“S-44”</span>
            </a>
          </h3>
          <div class="card__price">
            19 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
      <li class="similar-list__item">
        <article class="card">
          <div class="card__rating">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            4,8
          </div>
          <a class="card__picture-link" href="/product.html">
            <picture class="card__picture">
              <source srcset="../img/13-rating.webp" type="image/webp">
              <img loading="lazy" src="../img/13-rating.png" class="image" width="266" height="130"
                alt="Диван шиниловый “V-43”">
            </picture>
          </a>
          <h3 class="heading-reset card__heading">
            <a class="card__link" href="/product.html">
              Диван шиниловый <span class="card__number">“V-43”</span>
            </a>
          </h3>
          <div class="card__price">
            19 990 руб
          </div>
          <button class="btn-reset card__button">
            Купить
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>
