<section class="specials">
  <div class="container specials__container">
    <h2 class="heading-reset specials__heading">Специальные предложения</h2>
    <ul class="list-reset specials__list specials-list">
      <li class="specials-list__item">
        <article class="specials-list__card special-card">
          <span class="special-card__label">- 9 000</span>
          <a class="special-card__picture-link" href="/product.html">
            <picture class="special-card__picture">
              <source srcset="../img/1-specials.webp" type="image/webp">
              <img loading="lazy" src="../img/1-specials.png" class="image" width="193" height="210" alt="Кресло велюровое “X-24”">
            </picture>
          </a>
          <h3 class="heading-reset special-card__heading">
            <a class="special-card__link" href="/product.html">
              Кресло велюровое <span class="special-card__number">“X-24”</span>
            </a>
          </h3>
          <div class="special-card__prices">
            <div class="special-card__price">15 990 руб</div>
            <div class="special-card__old-price">24 990 руб</div>
          </div>
          <button class="btn-reset special-card__button">Купить</button>
        </article>
      </li>
      <li class="specials-list__item">
        <article class="specials-list__card special-card">
          <span class="special-card__label">- 10 000</span>
          <a class="special-card__picture-link" href="/product.html">
            <picture class="special-card__picture">
              <source srcset="../img/2-specials.webp" type="image/webp">
              <img loading="lazy" src="../img/2-specials.png" class="image" width="450" height="245" alt="Кресло велюровое “X-24”">
            </picture>
          </a>
          <h3 class="heading-reset special-card__heading">
            <a class="special-card__link" href="/product.html">
              Диван тканевый <span class="special-card__number">“Z-44”</span>
            </a>
          </h3>
          <div class="special-card__prices">
            <div class="special-card__price">22 990 руб</div>
            <div class="special-card__old-price">32 990 руб</div>
          </div>
          <button class="btn-reset special-card__button">Купить</button>
        </article>
      </li>
      <li class="specials-list__item">
        <article class="specials-list__card special-card">
          <span class="special-card__label">- 600</span>
          <a class="special-card__picture-link" href="/product.html">
            <picture class="special-card__picture">
              <source srcset="../img/3-specials.webp" type="image/webp">
              <img loading="lazy" src="../img/3-specials.png" class="image" width="149" height="218" alt="Кресло велюровое “X-24”">
            </picture>
          </a>
          <h3 class="heading-reset special-card__heading">
            <a class="special-card__link" href="/product.html">
              Будильник <span class="special-card__number">“Quartz-23”</span>
            </a>
          </h3>
          <div class="special-card__prices">
            <div class="special-card__price">1 290 руб</div>
            <div class="special-card__old-price">1 890 руб</div>
          </div>
          <button class="btn-reset special-card__button">Купить</button>
        </article>
      </li>
      <li class="specials-list__item">
        <article class="specials-list__card special-card">
          <span class="special-card__label">- 300</span>
          <a class="special-card__picture-link" href="/product.html">
            <picture class="special-card__picture">
              <source srcset="../img/4-specials.webp" type="image/webp">
              <img loading="lazy" src="../img/4-specials.png" class="image" width="117" height="210" alt="Мини-скульптура “Oh my deer”">
            </picture>
          </a>
          <h3 class="heading-reset special-card__heading">
            <a class="special-card__link" href="/product.html">
              Мини-скульптура <span class="special-card__number">“Oh my deer”</span>
            </a>
          </h3>
          <div class="special-card__prices">
            <div class="special-card__price">690 руб</div>
            <div class="special-card__old-price">990 руб</div>
          </div>
          <button class="btn-reset special-card__button">Купить</button>
        </article>
      </li>
      <li class="specials-list__item">
        <article class="specials-list__card special-card">
          <span class="special-card__label">- 10 000</span>
          <a class="special-card__picture-link" href="/product.html">
            <picture class="special-card__picture">
              <source srcset="../img/5-specials.webp" type="image/webp">
              <img loading="lazy" src="../img/5-specials.png" class="image" width="254" height="123" alt="Диван вел-флок “Z-85”">
            </picture>
          </a>
          <h3 class="heading-reset special-card__heading">
            <a class="special-card__link" href="/product.html">
              Диван вел-флок <span class="special-card__number">“Z-85”</span>
            </a>
          </h3>
          <div class="special-card__prices">
            <div class="special-card__price">22 990 руб</div>
            <div class="special-card__old-price">32 990 руб</div>
          </div>
          <button class="btn-reset special-card__button">Купить</button>
        </article>
      </li>
      <li class="specials-list__item">
        <article class="specials-list__card special-card">
          <span class="special-card__label">- 700</span>
          <a class="special-card__picture-link" href="/product.html">
            <picture class="special-card__picture">
              <source srcset="../img/6-specials.webp" type="image/webp">
              <img loading="lazy" src="../img/6-specials.png" class="image" width="183" height="218" alt="Термометр + гидрометр “H-18”">
            </picture>
          </a>
          <h3 class="heading-reset special-card__heading">
            <a class="special-card__link" href="/product.html">
              Термометр + <span class="special-card__number">гидрометр “H-18”</span>
            </a>
          </h3>
          <div class="special-card__prices">
            <div class="special-card__price">1 390 руб</div>
            <div class="special-card__old-price">2 090 руб</div>
          </div>
          <button class="btn-reset special-card__button">Купить</button>
        </article>
      </li>
    </ul>
  </div>
</section>
