<section class="useful">
  <div class="container useful__container">
    <h2 class="heading-reset useful__heading">
      Полезное
    </h2>
    <ul class="list-reset useful__list useful-list">
      <li class="useful-list__item">
        <article class="useful-card">
          <picture class="useful-card__picture">
            <source srcset="../img/1-useful.webp" type="image/webp">
            <img loading="lazy" src="../img/1-useful.png" class="image" width="624" height="426" alt="Полезное">
          </picture>
          <div class="useful-card__content">
            <h3 class="heading-reset useful-card__text">
              И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
            </h3>
            <button class="btn-reset useful-card__button">
              Читать
            </button>
          </div>
        </article>
      </li>
      <li class="useful-list__item">
        <article class="useful-card">
          <picture class="useful-card__picture">
            <source srcset="../img/2-useful.webp" type="image/webp">
            <img loading="lazy" src="../img/2-useful.png" class="image" width="624" height="426" alt="Полезное">
          </picture>
          <div class="useful-card__content">
            <h3 class="heading-reset useful-card__text">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </h3>
            <button class="btn-reset useful-card__button">
              Читать
            </button>
          </div>
        </article>
      </li>
      <li class="useful-list__item">
        <article class="useful-card">
          <picture class="useful-card__picture">
            <source srcset="../img/3-useful-tablet.webp" type="image/webp">
            <img loading="lazy" src="../img/3-useful-tablet.png" class="image" width="624" height="426" alt="Полезное">
          </picture>
          <div class="useful-card__content">
            <h3 class="heading-reset useful-card__text">
              Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
            </h3>
            <button class="btn-reset useful-card__button">
              Читать
            </button>
          </div>
        </article>
      </li>
      <li class="useful-list__item">
        <article class="useful-card">
          <picture class="useful-card__picture">
            <source srcset="../img/4-useful.webp" type="image/webp">
            <img loading="lazy" src="../img/4-useful.png" class="image" width="624" height="426" alt="Полезное">
          </picture>
          <div class="useful-card__content">
            <h3 class="heading-reset useful-card__text">
              Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
            </h3>
            <button class="btn-reset useful-card__button">
              Читать
            </button>
          </div>
        </article>
      </li>
      <li class="useful-list__item">
        <article class="useful-card">
          <picture class="useful-card__picture">
            <source srcset="../img/5-useful.webp" type="image/webp">
            <img loading="lazy" src="../img/5-useful.png" class="image" width="624" height="426" alt="Полезное">
          </picture>
          <div class="useful-card__content">
            <h3 class="heading-reset useful-card__text">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </h3>
            <button class="btn-reset useful-card__button">
              Читать
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
