// base
$font-family: "Open Sans", sans-serif;
$content-width: 1280px;
$content-width-tablet: 952px;
$content-width-smtablet: calc(100% - 72px * 2);
$container-offset: 15px;
$container-offset-tablet: 36px;
$container-offset-smtablet: 72px;
$container-width: calc($content-width + $container-offset * 2);
$container-width-tablet: calc($content-width-tablet + $container-offset-tablet * 2);
$container-width-smtablet: calc($content-width-smtablet + $container-offset-smtablet * 2);

// colors
$primary: #a65cf0;
$primary_light: #c998fb;
$primary_shade: #7033ac;
$pink_light: #f8efff;
$pink_violet: #ebd1ff;
$secondary: #ff862f;
$secondary_light: #ffbd59;
$secondary_shade: #bb370e;
$red_input: #ff6972;
$green_input: #b8ec64;
$gold: #d5b986;
$white: #fff;
$grey_light: #f6f6f6;
$md_grey: #eaeaea;
$grey: #999;
$grey_shade: #666;
$black: #333;
$lime_color: #daffd1;
$bone: #fff5d1;
